<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <article class="message is-warning">
      <div class="message-header">
        <p>Warning</p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </article>
  <% end %>

  <div class="field">
    <%= form.label :title, :class => "label" %>
    <div class="control">
      <%= form.text_field :title, {:class => "input"} %>
    </div>
  </div>

  <div class="field">
    <%= form.label :content, :class => "label" %>
    <%= form.text_area :content, :class => "textarea", :size => "20x20" %>
  </div>

  <div class="actions">
    <%= form.submit :class=>"button is-primary" %>
  </div>
<% end %>
