<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <nav class="navbar is-dark">
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <% if user_signed_in? %>
          <%= link_to 'ホームへ', home_home_path, {:class => "navbar-item"} %>
          <%= link_to 'マイ記事', posts_path, {:class => "navbar-item"} %>
          <%= link_to 'プロフィール変更', edit_user_registration_path, {:class => "navbar-item"} %>
          <%= link_to 'ログアウト', destroy_user_session_path, {method: :delete, :class => "navbar-item"} %>
        <% else %>
          <%= link_to 'サインアップ', new_user_registration_path, {:class => "navbar-item"} %>
          <%= link_to 'ログイン', new_user_session_path, {:class => "navbar-item"} %>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<section class="section">
  <%= yield %>
</section>
</body>

</html>
