<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <nav class="navbar is-dark">
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <% if user_signed_in? %>
          <%= link_to 'ホームへ', home_home_path, {:class => "navbar-item"} %>
          <%= link_to 'マイ記事', posts_path, {:class => "navbar-item"} %>
          <%= link_to '記事一覧', posts_path(mode: 'all'), {:class => "navbar-item"} %>
          <%= link_to 'プロフィール変更', edit_user_registration_path, {:class => "navbar-item"} %>
          <%= link_to 'ログアウト', destroy_user_session_path, {method: :delete, :class => "navbar-item"} %>
        <% else %>
          <%= link_to 'サインアップ', new_user_registration_path, {:class => "navbar-item"} %>
          <%= link_to 'ログイン', new_user_session_path, {:class => "navbar-item"} %>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<section class="section">
  <% if notice != nil %>
    <article class="message is-success">
      <div class="message-body">
        <p class="notice"><%= notice %></p>
      </div>
    </article>
  <% end %>
  <% if alert != nil %>
    <article class="message is-warning">
      <div class="message-body">
        <p class="notice"><%= alert %></p>
      </div>
    </article>
  <% end %>
  <%= yield %>
</section>
</body>

</html>
